.field {
  width: 125px;
  height: 125px;
  background: red;
  border-radius: 5%;
  background: #ffe0e0;
  margin: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &.touched {
    &.O {
    }
    &.X {
    }
  }
}
